*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
    background: rgb(14, 5, 106);
    color: #fff;
}
.container{
    width: 90%;
    max-width: 600px;
    margin: 12%;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:26px 20px;
    border-radius: 5px;
}
.container h1 {
    font-weight: 500;
    font-size: 45px
}
.container h1 span{
    color: lightskyblue;
    border-bottom: 4px solid lightskyblue;
}
.display input{
    outline: 0;
    border: 0;
    font-size: 24px;
}
.display img {
    width: 30px;
    cursor: pointer;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button {
    border: 0; 
    outline: 0;
    font-size:24px;
    font-weight: 300;
    color: #fff;
    background: rgba(0, 157, 255, 0.432);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 26px;
}